.keyboardCont {
  height: 10rem;
  display: flex;
}
.octaveCont {
  width: 15rem;
  position: relative;
}
.whiteKeyCont {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: stretch;
}
.whiteKey {
  flex: 1;
  padding: 0;
  background-color: antiquewhite;
}
.whiteKey:hover {
  cursor: pointer;
}
.whiteKey:active {
  filter: invert();
}
.blackKeyCont {
  position: absolute;
  top: 0;
  display: flex;
  height: 55%;
  width: 100%;
  align-items: stretch;
  pointer-events: none;
}
.blackKey {
  flex: 1;
  padding: 0;
  pointer-events: all;
  background-color: rgb(78, 77, 82);
}
.blackKey:hover {
  cursor: pointer;
}
.blackKey:active {
  filter: invert();
}
.ghostKey {
  flex: 0.5;
}
